.name{
    font-weight: bold;
   
}
.content{
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
   
    color: #8D8D8D;
  

}
.chuaxem{
    color: #000;
    font-weight: bold;
}
.avata{

  padding-left: 25px;
  
}
.image{
    width: 40px;
    height: 40px;
}
.menu{
    padding-top: 20px;
    padding-left: 20px;
    background-color: aliceblue;
    height: 100%;
   
   overflow-x:hidden;
   overflow-y:auto;
}
.body{
   
}
li{margin-bottom: 10px;}
.count{
   
    border-radius: 10px;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden;
    -ms-overflow-style: none;
    position: relative;
    overflow-y: scroll ; 
    height: 560px;
   
}
.count:hover{
    background-color: white;
}
.active{
    background-color: white;
}
.mess{
    height: 560px;
}
.change{
    height: 400px;margin: 20px 0;
}
